In [4]:
number=

if number%2==0:
    print("Even No")
else:
    print("Odd No")

Even No

In [7]:
a=input("Enter your alphabet")
lst=['a','e','i','i','u']
if a in lst:
    print("It's a vovel")
else:
    print("It's a consonent")

It's a vovel

In [10]:
side_1=int(input("Enter your side"))
side_2=int(input("Enter your side"))
side_3=int(input("Enter your side"))
if side_1==side_2==side_3:
    print("Equilateral triangle")
elif side_1==side_2 or side_2==side_3 or side_3==side_1:
    print("isosceles triangle")
else:
    print("scalene Traiangle")

scalene Traiangle

In [3]:
yr=int(input("Enter a year"))
if yr%4==0:
    print("It's a leap year")
elif yr%400==0 and yr%100!=0:
    print("It's a leap year")
else:
    print("Not a leap year")

It's a leap year

In [42]:
lst=['Apple','Samsung','Mi','Oppo','Vivo','Pixel','Oneplus']
for i in lst:
    print(i)

Apple
Samsung
Mi
Oppo
Vivo
Pixel
Oneplus

In [43]:
lst=['Apple','Samsung','Mi','Oppo','Vivo','Pixel','Oneplus']
if "Mi" in lst:
    print('Mi is in the list')
else:
    ("Mi is not in the list")

Mi is in the list

In [18]:
n=input("Enter your name")
for x in n:
    print(x, end="")

YuSuF

In [45]:
lst=['Apple','Samsung','Mi','Oppo','Vivo','Pixel','Oneplus']
for i in lst:
    if i== 'Mi':
        break
    print(i)

Apple
Samsung

In [46]:
lst=['Apple','Samsung','Mi','Oppo','Vivo','Pixel','Oneplus']
for i in lst:
    if i== "Mi":
        continue
    print(i)

Apple
Samsung
Oppo
Vivo
Pixel
Oneplus

In [3]:
for i in range(2,21,):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
for i in range(2,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [8]:
for i in range(1,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [11]:
a=1
while a<21:
    if a%2==0:
     print(a)
    a+=1

2
4
6
8
10
12
14
16
18
20

In [22]:
a=1
while a<10:
    print(a*2)
    a+=1

2
4
6
8
10
12
14
16
18

In [26]:
a=10
while a>0:
    print(a*2)
    a-=1

20
18
16
14
12
10
8
6
4
2

In [29]:
for i in range(5):
    print("YuSuF")

YuSuF
YuSuF
YuSuF
YuSuF
YuSuF

In [34]:
a=0
while a<5:
    print("YuSuF")
    a+=1

YuSuF
YuSuF
YuSuF
YuSuF
YuSuF

In [37]:
a=1
while a<10:
    if a==9:
        break
    print(a)
    a+=1

1
2
3
4
5
6
7
8

# Reverse No

In [48]:
i=int(input("Enter the number"))
rev=0
while(i>0):
    rev=rev*10+(i%10)
    i=i//10
print(rev)

922

# Armstrong No

In [51]:
i=int(input("Enter the number"))
orig=i
sum=0
while(i>0):
    sum=sum+(i%10)**3
    i=i//10
if sum==orig:
    print("Armstrong Number")
else:
    print("Not a armstrong number")

Armstrong Number

# Pallindrome No

In [3]:
i=int(input("Enter a number"))
orig=i
pal=0
while(i>0):
    pal=pal*10+(i%10)
    i=i//10
if(orig==pal):
    print("Pallindrome")
else:
    print("Not a pallindrome")

Pallindrome

# Prime No

In [4]:
n=int(input("Enter the number"))
if n<2:
    print("Not a Prime Number")
else:
    for i in range(2,n):
        if n%i==0:
            print("Not a prime number")
    else:
        print("Prime number")

Prime number

# Fibonacci No

In [53]:
n=int(input("Enter the number"))
x=0
y=1
z=0
while(z<=n):
    print(z)
    x=y
    y=z
    z=x+y

0
1
1
2
3
5
8